dash
dash-core-components
dash-html-components     
dash-renderer
dash-table
Flask
Flask-Compress
Flask-Cors
Gunicorn
matplotlib
numpy
pandas
plotly
scikit-image
scikit-learn
scipy                  


